.card-body {
    background-color: #e0e0d1;
    padding: 12px;
    border-radius: 8px;
}
      .card-body h2 {
    color: #222222;
    margin-bottom: 10px;
    font-size: 2em;
}
.card-body ul {
    list-style-type: none;
    padding-left: 0;
}
.card-body li {
    text-align: left;
    margin-bottom: 20px;
    color: #333333;
    font-size: 1.1rem;
}