body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f8f8;
        align-items: right;
    }
h1.texto-animado {
    font-family:'Cormorant Garamond',cursive;
            font-size: 65px;
            text-align: right;
            background: linear-gradient(to right,#ffffff ,#808080,#000000, #ffffff);
            background-size: 400% 100%;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            animation: moverDegradado 5s linear infinite;
}
@keyframes moverDegradado {
            0% { background-position: 0% }
            100% { background-position: 400% }
}
header {
        background-color: #9D9D93;
        color: white;
        padding: 15px 20px;

        display: flex;
        flex-direction: column;
        align-items: right;
        justify-content: right;
        gap: 10px;
        }
header h1 {
        margin: 0;
        font-size: 24px;
    }

nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-color: #7f7f6f;
        padding: 8px 0;
    }
nav a.active,
nav a {
    color: white;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 8px;
    background-color: #70705d;
    transition: background-color 0.8s ease, color 0.5s ease;
}
nav a:hover {
    background-color: rgb(230, 185, 185); 
    color: #70705d;       
}     
main {
        padding: 20px;
    }

div.full-width {
        font-family: Arial, sans-serif;
        max-width: 1200px;          
        margin: 20px auto;             
        background-color: #e0e0d1;
        padding: 20px;
        border-radius: 8px;
        box-sizing: border-box;
        text-align: center;            
    }
div.full-width img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto;
}
img {
   max-width: 100%;
   height: auto;
   display: block;
   margin: 0 auto;
}

div.card-body {
        background-color: #e0e0d1;
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 20px;
    }
.footer {
        background-color: #9D9D93;
        color: white;
        text-align: center;
        padding: 15px;
        }