{% extends 'base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <link rel="stylesheet" href="{{ url_for('static', filename='contacto.css') }}">

<h2><blockquote><strong>Contactos</strong></blockquote></h2>   
    <ul>
      <li><strong>Teléfono:</strong> +57 (312) 652-2345</li>
      <li><strong>Email:</strong> socio@restaurante.com</li>
      <li><strong>Dirección:</strong> Calle 60 #45-67, Bogotá, Colombia</li>
    </ul>
      </div>
</div>
{% endblock %}